<body>
    <div *ngIf="componentName === 'selection-view'" class="mt-3 absolute" style="top: 8%; left: 43%;">
        <h1 class="align-buttons-center">Sélectionnez un jeu</h1>
        <br />
    </div>
    <div style="position: fixed; width:100%; z-index: 3; top:8%">
        <div class="grid mt-1 absolute" style="left: 7%;">
            <div class="mr-3" *ngIf="componentName === 'admin-view'">
                <button pButton label="Créer un jeu" class="p-button-success " routerLink="/create" icon="pi pi-plus"></button>
            </div>
            <div class="mr-3" *ngIf="componentName === 'admin-view'">
                <app-admin-constants-form></app-admin-constants-form>
            </div>
            <div class="mr-3" *ngIf="componentName === 'admin-view'">
                <button pButton [disabled]="customGames.length <= 0" label="Supprimer tous les jeux" class="p-button-danger" icon="pi pi-trash"
                    (click)="confirmDeleteGames($event)"></button>
            </div>
            <div class="mr-3" *ngIf="componentName === 'admin-view'">
                <button pButton [disabled]="shouldActivateResetBestTimesButton(customGames)" label="Réinitialiser les meilleurs temps" icon="pi pi-refresh" class=" p-button-warning"
                    (click)="confirmDeleteBestTimes($event)"></button>
            </div>
            <div class="mr-3" *ngIf="componentName === 'admin-view'">
                <button pButton label="Réinitialiser les constantes du jeu" icon="pi pi-refresh"
                    class="p-button-warning" (click)="updateConstantTimes($event)"></button>
            </div>
        </div>
    </div>

    <div class="right-left-btn left-0">
        <button pButton class="p-button-raised p-button-rounded" icon="pi pi-arrow-left" (click)="leftButtonClick()"
            [disabled]="currentSlideIndex === 0"></button>
    </div>
    <div class="right-left-btn right-0">
        <button pButton class="p-button-raised p-button-rounded" icon="pi pi-arrow-right" (click)="rightButtonClick()"
            [disabled]="currentSlideIndex >= lastSlideIndex"></button>
    </div>
    <div *ngIf="gamesInSlide" class="grid absolute ml-6" style="top: 17%;">
        <div class="col-6 border" style="width: 48%;" *ngFor="let game of gamesInSlide[currentSlideIndex]; index as i">
            <app-game-sheet [game]="game" [componentName]="componentName"></app-game-sheet>
        </div>
    </div>
</body>
<p-confirmPopup></p-confirmPopup>
