#button-area {
    display: flex;
    justify-content: space-between;
}

canvas {
    position: relative;
    border: 3px solid black;
}

#form {
    min-width: 640px;
    max-width: 640px;
    display: flex;
    justify-content: center;
}

#form mat-form-field {
    width: 70%;
}
