  .container {
    position: relative;
    text-align: center;
    background-color:azure;
    color: black;
  }

  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  .align-buttons-center {
    margin: 0 auto;
    width: 656px;
    text-align: center;
  }

  img {
    max-width: 50%;
    max-height: 50%;
}

.border {
  border: solid 2px #000;
}

.play-button, .multiplayer-button, .delete-button  {
  margin-left: 100px;
  width: 68%;
}

